html {
  height: 100%;
  width: 100%;
}

body {
  color: gray;
}

h3{
  color: green;
}
<<<<<<< HEAD

.text-blue {
  color: blue;
}

.text-red {
  color: red;
=======
#primer{
  color: red;
}
.blue{
color: blue;
>>>>>>> 7db2947d0c293ba20cc858afb921aa04049b6b4b
}